In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("AI_Collection_and_Loss_Reverse_Forecast.csv", delimiter=";")
df.head()

,debtor_name,debtor_nik,debtor_address,debtor_zip,debtor_rt,debtor_rw,debtor_birth_place,debtor_age,debtor_number,debtor_occupation,...,arrears6,arrears7,arrears8,arrears9,arrears10,arrears11,arrears12,aging,credit_risk,loss_reverse
0,Cemplunk Zulaika,"4,13343E+15","Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",12188,6,10,"Bengkulu, 23-09-1997",26,+62 (102) 776 3467,Pengusaha,...,0,0,0,0,0,0,0,DPK,Tertagih dengan resiko rendah,0
1,"Clara Padmasari, M.Pd","7,87362E+15","Jalan Cihampelas No. 4\nPekanbaru, Sulawesi Se...",56126,20,20,"Jawa Tengah, 13-04-1964",59,+62 (808) 299 5117,Pengusaha,...,0,0,0,0,0,1,0,DPK,Tertagih dengan resiko rendah,17708333
2,"Puti Cinthia Oktaviani, S.IP","9,93737E+15","Jl. Wonoayu No. 68\nSemarang, Riau 98101",98101,2,15,"Jawa Tengah, 01-09-1981",42,+62 (0582) 416 0892,Buruh,...,0,0,0,0,0,0,0,Lancar,Tertagih dengan resiko rendah,0
3,"Lalita Astuti, M.TI.","2,07108E+15","Gg. Sentot Alibasa No. 781\nPontianak, SU 76993",76993,19,16,"Aceh, 14-02-1987",36,+62 (737) 295-9765,Pengusaha,...,0,0,1,0,0,0,0,DPK,Tertagih dengan resiko rendah,15291667
4,Daliman Kusumo,"8,85274E+15","Jl. Ronggowarsito No. 0\nTanjungpinang, NB 06297",6297,1,1,"Gorontalo, 06-12-1998",25,+62 (0740) 390 0826,Pegawai Swasta,...,0,0,0,0,0,0,0,DPK,Tertagih dengan resiko rendah,0

In [3]:
df2 = pd.read_csv(r"C:\Users\DHONI HANIF\OneDrive\Documents\AI_Collection_and_Loss_Reverse_Forecast\modelling\nasabah\clustering\data\data_for_classification.csv")
df2.sample(5)

,Unnamed: 0,net_income,loan_amount,amount_of_late,late_payment_amount,credit_score,arrears_amounts,loss_reverse,credit_risk
3997,3997,20000000.0,60000000.0,53.0,3.0,497.0,2.0,30000000.0,Tertagih dengan resiko tinggi
4302,4302,10700000.0,62666667.0,0.0,0.0,385.0,0.0,0.0,Tertagih dengan resiko rendah
494,494,21000000.0,38166667.0,97.0,9.0,255.0,2.0,19083333.0,Tertagih dengan resiko tinggi
291,291,19000000.0,72000000.0,149.0,7.0,101.0,2.0,36000000.0,Tertagih dengan resiko tinggi
604,604,10500000.0,65500000.0,37.0,3.0,434.0,1.0,16375000.0,Tertagih dengan resiko rendah

In [4]:
df["credit_risk"] = df2["credit_risk"]
df.to_csv("AI_Collection_and_Loss_Reverse_Forecast.csv")