In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"./data_nasabah.csv")
df

,Unnamed: 0,debtor_name,debtor_nik,debtor_address,debtor_number,debtor_company,debtor_gender,debtor_education_level,employment_type,number_of_dependents,...,arrears12,aging,debtor_zip,debtor_rt,debtor_rw,debtor_birth_place,debtor_age,debtor_occupation,debtor_marital_status,tenor
0,0,Cemplunk Zulaika,4133431716345918,"Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",+62 (102) 776 3467,CV Nugroho Melani (Persero) Tbk,perempuan,D3,Retired,3,...,0,DPK,12188,6,10,"Bengkulu, 23-09-1997",26,Pengusaha,Menikah,21
1,1,"Clara Padmasari, M.Pd",7873621118387801,"Jalan Cihampelas No. 4\nPekanbaru, Sulawesi Se...",+62 (808) 299 5117,UD Hidayat,laki-laki,D3,Full-time,3,...,0,DPK,56126,20,20,"Jawa Tengah, 13-04-1964",59,Pengusaha,Menikah,18
2,2,"Puti Cinthia Oktaviani, S.IP",9937369990430445,"Jl. Wonoayu No. 68\nSemarang, Riau 98101",+62 (0582) 416 0892,UD Simanjuntak Padmasari (Persero) Tbk,laki-laki,D2,Full-time,4,...,0,Lancar,98101,2,15,"Jawa Tengah, 01-09-1981",42,Buruh,Cerai mati,17
3,3,"Lalita Astuti, M.TI.",2071079715934185,"Gg. Sentot Alibasa No. 781\nPontianak, SU 76993",+62 (737) 295-9765,Perum Handayani Najmudin Tbk,laki-laki,D2,Retired,3,...,0,DPK,76993,19,16,"Aceh, 14-02-1987",36,Pengusaha,Menikah,17
4,4,Daliman Kusumo,8852740896362143,"Jl. Ronggowarsito No. 0\nTanjungpinang, NB 06297",+62 (0740) 390 0826,PD Hardiansyah (Persero) Tbk,laki-laki,SMA,Contract,5,...,0,DPK,6297,1,1,"Gorontalo, 06-12-1998",25,Pegawai Swasta,Cerai hidup,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,Farah Budiman,1119427982364147,"Gang Gegerkalong Hilir No. 85\nSukabumi, MA 26691",+62 (936) 135-5673,Perum Simanjuntak,perempuan,D3,Retired,4,...,1,Kurang lancar,26691,15,13,"Sulawesi Barat, 05-06-1968",55,Pengusaha,Cerai hidup,10
4996,4996,"Rahmi Permata, S.Sos",6199571700348089,"Jalan Ronggowarsito No. 4\nSamarinda, Sumatera...",+62 (0519) 146-5754,PD Jailani (Persero) Tbk,perempuan,S1,Full-time,4,...,0,DPK,14400,8,1,"Sulawesi Selatan, 18-01-1995",28,Profesional,Belum menikah,17
4997,4997,Vega Zulkarnain,4792712372200728,"Jl. Jamika No. 8\nBogor, Jawa Barat 88047",+62 (761) 688-1718,Perum Wibisono,laki-laki,SMA,Contract,6,...,0,DPK,88047,11,20,"Kepulauan Riau, 11-01-1989",34,Profesional,Belum menikah,7
4998,4998,Karimah Adriansyah,7096542170234569,"Gang Ir. H. Djuanda No. 875\nCimahi, JT 93140",+62-55-211-5745,CV Thamrin Haryanto,perempuan,SMA,Contract,6,...,1,DPK,93140,13,2,"Sulawesi Tenggara, 11-07-1983",40,Profesional,Belum menikah,12
4999,4999,Alika Januar,4595204238824022,"Gang Setiabudhi No. 8\nTangerang, NT 42062",+62 (08) 963 3964,CV Oktaviani Wulandari,perempuan,D1,Retired,4,...,0,Kurang lancar,42062,13,4,"Sulawesi Tengah, 03-03-1999",24,Pegawai Swasta,Cerai hidup,3

In [3]:
df2 = pd.read_csv(r"C:\Users\DHONI HANIF\OneDrive\Documents\AI_Collection_and_Loss_Reverse_Forecast\modelling\nasabah\clustering\data\data_for_classification.csv")
df2

,Unnamed: 0,net_income,loan_amount,amount_of_late,late_payment_amount,credit_score,arrears_amounts,loss_reverse,credit_risk
0,0,15500000.0,6.250000e+07,2.0,1.0,670.0,0.0,0.000000e+00,Tertagih dengan resiko rendah
1,1,17500000.0,7.083333e+07,31.0,3.0,402.0,1.0,1.770833e+07,Tertagih dengan resiko rendah
2,2,17500000.0,5.933333e+07,0.0,0.0,505.0,0.0,0.000000e+00,Tertagih dengan resiko rendah
3,3,15500000.0,6.116667e+07,64.0,5.0,508.0,1.0,1.529167e+07,Tertagih dengan resiko rendah
4,4,8700000.0,5.616667e+07,14.0,2.0,371.0,0.0,0.000000e+00,Tertagih dengan resiko rendah
...,...,...,...,...,...,...,...,...,...
4995,4995,15500000.0,8.800000e+07,106.0,7.0,272.0,2.0,4.400000e+07,Tertagih dengan resiko tinggi
4996,4996,19000000.0,5.100000e+07,25.0,1.0,464.0,1.0,1.275000e+07,Tertagih dengan resiko rendah
4997,4997,12700000.0,6.150000e+07,53.0,4.0,369.0,1.0,1.537500e+07,Tertagih dengan resiko rendah
4998,4998,13700000.0,5.900000e+07,27.0,1.0,266.0,1.0,1.475000e+07,Tertagih dengan resiko rendah
4999,4999,18500000.0,8.116667e+07,118.0,9.0,235.0,2.0,4.058333e+07,Tertagih dengan resiko tinggi

In [4]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df2.drop("Unnamed: 0", axis=1, inplace=True)

In [6]:
df["credit_risk"] = df2["credit_risk"]
df.to_csv("AI_Collection_and_Loss_Reverse_Forecast.csv")